<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Groupe C</p>
    <ul>
      <li>ABRADI Chaima</li>
      <li>PETIT Martin</li>
      <li>PISSOT Alex</li>
    </ul>
  </body>
</html>
