<!DOCTYPE html>
<html>
  <head>
    <title>Toutes les infos disponibles sur un pays donné : La France</title>
  </head>
  <body>
    <h1>Toutes les infos disponibles sur un pays donné : La France </h1>
      <%
        var list = '';
        list +=
          '<ul>'+
            '<li>'+ 'Pays: ' + country.nom +'</li><br>'+
            '<li>'+ 'Région: ' + country.region +'</li><br>'+
            '<li>'+ 'Capitale: ' + country.capital +'</li><br>'+
            '<li>'+ 'Langue: ' + country.langues.fra +'</li><br>'+
            '<li>'+ 'Superficie: ' + country.superficie +'</li><br>'
          '</ul>'
      %>
      <%- list %>
  </body>
</html>